[submodule "DAIC"]
	path = Risk_Assessment/DAIC
	url = https://github.com/dessertlab/DAIC.git

[submodule "Risk_Assessment/ICOS"]
	path = Risk_Assessment/ICOS
	url = https://github.com/ICOS-OAA/ICOS.git

[submodule "Risk_Assessment/ComputerVision"]
	path = Risk_Assessment/ComputerVision
	url = https://github.com/S2-group/EASE-2022-energy-ai-edge-containers-rep-pkg.git

[submodule "Risk_Assessment/MOBILESOFT23"]
	path = Risk_Assessment/MOBILESOFT23
	url = https://github.com/S2-group/mobilesoft-2023-app-vs-web-android-rep-pkg.git

[submodule "Risk_Assessment/EASE23"]
	path = Risk_Assessment/EASE23
	url = https://github.com/S2-group/ease-2023-wasm-iot-rep-pkg.git

[submodule "Risk_Assessment/ICSOC23"]
	path = Risk_Assessment/ICSOC23
	url = https://github.com/S2-group/icsoc-2023-energy-perf-monitoring-docker-rep-pkg.git

[submodule "Risk_Mitigation/Lacuna-evaluation"]
	path = Risk_Mitigation/Lacuna-evaluation
	url = https://github.com/S2-group/Lacuna-evaluation.git